@media all and (max-width: 1200px) and (max-width: 1199.98px) {
  .nav-offer {
    margin-left: 10px;
  }
  .logo::after {
    display: none;
  }
  .dream-col-1 {
    margin-right: 50px;
  }
  .dream-col-2 {
    width: 55%;
  }
  .proj-box {
    padding: 50px 80px 60px 50px;
  }
  .proj-img {
    right: -416px;
  }
  .proj-text-2 {
    right: 58px;
    top: 54px;
  }
  .brig-man {
    right: 19%;
  }
  .brig-col-2 {
    width: 280px;
  }
  .brig-list {
    padding: 30px 38px 30px 40px;
  }
  .cat-card-img {
    width: 100%;
    height: 280px;
  }
  .cat-card {
    padding: 300px 20px 28px 28px;
  }
  .cat-cards-holder {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media all and (max-width: 992px) and (max-width: 991.98px) {
  .no-scrollbar {
    overflow: hidden;
  }
  .nav-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .call-me-back-mob, #burger {
    display: block;
  }
  .fixed .call-me-back-mob {
    background-image: url(../img/header-phone-dark.svg);
  }
  .nav-inner {
    padding: 27px 0;
  }
  .logo {
    height: 94px;
  }
  #main-nav {
    background: rgba(38, 70, 109, 0.1);
    position: fixed;
  }
  #main-nav .main-menu, #main-nav .nav-offer, #main-nav .header-location {
    display: none;
  }
  .nav-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .call-now-wrapper {
    margin-top: 30px;
  }
  .comm-offer {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 50px auto 0 auto;
  }
  .main-title {
    font-size: 78px;
  }
  .main-header {
    min-height: unset;
    padding: 140px 0 165px;
  }
  .dream-prev {
    left: 30px;
  }
  .dream-next {
    right: 30px;
  }
  .dream-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  h2, .pop-title {
    font-size: 32px;
    line-height: 48px;
  }
  .dream-btn {
    background-size: 100px;
    background-position: 20px center;
    padding: 27px 100px 27px 140px;
  }
  .dream-col-2 {
    width: 100%;
  }
  .proj-img {
    right: -297px;
    max-width: 900px;
    bottom: -349px;
  }
  .proj-text-2 {
    display: none;
  }
  .proj-box, .comm-card {
    border-radius: 60px;
  }
  .brig-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .brig-col-1 {
    text-align: center;
  }
  .brig-col-2 {
    width: 100%;
  }
  .brig-col-img {
    position: relative;
    width: 100%;
    height: unset;
  }
  .brig-woman {
    height: 430px;
    left: 21%;
  }
  .brig-man {
    height: 386px;
  }
  .brig-clouds {
    width: 645px;
    bottom: -249px;
  }
  .brig-col-img {
    height: 320px;
  }
  .brig-list {
    max-width: 314px;
    margin: 100px auto 0 auto;
  }
  .brig .sub-text {
    margin-top: 10px;
  }
  .port-container-inner {
    padding: 25px 30px 34px 30px;
  }
  .port-btns a, .port-btns button {
    font-size: 10px;
    padding: 16px 22px;
  }
  .fixed-spec .call-me-back-mob {
    background: url(../img/header-phone-dark.svg) no-repeat center center;
  }
  .cat-cards-holder {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
  .single-slider .swiper-slide {
    width: 700px;
  }
  .single-slide-inner {
    height: 520px;
  }
  .single-content {
    padding-right: 20px;
  }
  .single-content-buy {
    width: 300px;
  }
  .single-content-buy-inner {
    padding: 40px;
    border-radius: 60px;
  }
}
@media all and (max-width: 768px) and (max-width: 767.98px) {
  .main-title {
    font-size: 56px;
  }
  .header-bg {
    position: absolute;
    height: 95%;
  }
  .dream-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dream-col {
    width: 100%;
  }
  .dream-col-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-height: unset;
    padding: 50px 20px;
    margin: 50px 0 0 0;
  }
  .dream-col-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .dream-cloud-r {
    display: none;
  }
  .dream-box {
    margin: 70px 0 0 0;
  }
  .dream-cloud-l {
    width: 260px;
    margin-bottom: -52px;
  }
  .dream-bfn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dream-bfn-card {
    margin: 7px;
    padding: 30px 10px 36px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .goldnum64 {
    font-size: 50px;
  }
  .dream-img {
    height: 100%;
    width: 740px;
    border-radius: 80px;
  }
  .comm-clouds {
    top: -139px;
  }
  .comm {
    padding: 54px 0;
  }
  .proj-text-1 {
    position: relative;
    left: 0;
    bottom: 0;
    margin-left: 0;
  }
  .proj-info-1 {
    text-align: center;
  }
  .proj-box {
    padding: 50px 80px 284px 50px;
  }
  .proj-box .open-popup {
    display: block;
    margin: auto;
  }
  .brig {
    padding: 124px 0 80px 0;
  }
  .port-container {
    border-radius: 60px;
  }
  .port-container-inner {
    padding: 410px 30px 34px 20px;
    width: 100%;
    min-height: unset;
  }
  .child-slider {
    height: 380px;
    width: 540px;
    left: 50%;
    margin-left: -270px;
  }
  .child-slider .swiper-slide {
    border-radius: 0 0 60px 60px;
  }
  .child-slider .swiper-button-next, .child-slider .swiper-button-prev {
    bottom: 20px;
    height: 40px;
    width: 40px;
  }
  .child-slider .swiper-button-next {
    margin-right: -46px;
    background-position: left 16px center;
  }
  .child-slider .swiper-button-prev {
    background-position: left 16px center;
    margin-left: -46px;
  }
  .parent-prev, .parent-next {
    top: 418px;
    margin-top: 0;
  }
  .parent-prev {
    right: auto;
    left: -27px;
  }
  .ask-clouds-bottom {
    bottom: -72px;
  }
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .our-soc {
    min-width: unset;
  }
  .our-soc a {
    margin: 14px 7px 0 7px;
  }
  .credits {
    margin: 40px 0;
  }
  .cat-card-img {
    height: 240px;
  }
  .cat-card {
    padding: 255px 15px 20px 15px;
  }
  .cat-card .custom-btn-outline-small, .cat-card .custom-btn-small {
    padding: 14px 12px;
  }
  .single-content-holder {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .single-content {
    padding-right: 0;
  }
  #single-content-buy {
    margin: auto;
  }
  .single-slider .swiper-slide {
    width: 510px;
  }
  .single-slide-inner {
    height: 390px;
  }
  .single-slider {
    margin: 40px 0 33px;
  }
  .brig-man {
    right: 12%;
  }
  .brig-woman {
    left: 7%;
  }
}
@media all and (max-width: 576px) and (max-width: 575.98px) {
  #main-nav.fixed .nav-inner, #main-nav.fixed-spec .nav-inner, .nav-inner {
    padding: 5px 0;
  }
  .logo, #main-nav.fixed .logo, #main-nav.fixed-spec .logo {
    height: 50px;
  }
  .logo-inner {
    height: 36px;
  }
  .main-title {
    font-size: 35px;
  }
  .main-header {
    padding: 76px 0 96px;
  }
  .header-gradient-bottom {
    display: none;
  }
  .call-now {
    font-size: 10px;
    padding: 12px 18px 12px 18px;
  }
  .call-now a {
    width: 40px;
    height: 40px;
  }
  .call-now-text {
    max-width: 120px;
  }
  .comm-offer {
    font-size: 10px;
    width: 160px;
    height: 160px;
  }
  .comm-offer:after {
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
  }
  .header-clouds {
    bottom: -157px;
    width: 1000px;
  }
  .dream-slider .swiper-slide {
    width: 150px;
    height: 84px;
  }
  .dream {
    margin-top: -58px;
  }
  h2, .pop-title {
    font-size: 24px;
    line-height: 38px;
  }
  .sub-text {
    font-size: 14px;
    line-height: 26px;
  }
  .dream-cards {
    font-size: 12px;
  }
  .dream-box .dream-cards {
    margin: 20px 0;
  }
  .dream-box .dream-btn {
    margin-top: 25px;
  }
  .dream-btn, .myfile-label {
    background-size: 80px;
    font-size: 10px;
    line-height: 15px;
    padding: 18px 60px 18px 119px;
  }
  .myfile-label {
    background-position: 20px center;
    margin: 0;
    width: 100%;
  }
  .dream-arrow {
    right: 22px;
  }
  .goldnum64 {
    font-size: 32px;
  }
  .comm-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .comm-card {
    margin-bottom: 30px;
    padding: 20px 16px 22px 16px;
    width: 150px;
  }
  .comm-card .comm-card-title {
    margin: 3px 0 4px;
  }
  .dream-bfn-title, .comm-card-title {
    font-size: 12px;
  }
  .comm-card-text {
    font-size: 10px;
    line-height: 14px;
  }
  .comm-plus {
    width: 32px;
    height: 32px;
    background-size: 12px;
  }
  .custom-btn {
    font-size: 12px;
    padding: 18px 22px;
  }
  .comm .comm-box {
    margin: 56px 0 43px;
  }
  .que {
    padding-top: 32px;
  }
  .dream-bfn-card {
    width: 116px;
    padding: 24px 10px 25px 10px;
  }
  .goldnum32 {
    font-size: 20px;
  }
  .dream-bfn-text {
    padding: 0;
  }
  .dream-bnf-img {
    min-height: unset;
  }
  .dream-bfn-title {
    padding: 7px 0 0;
  }
  .comm {
    padding: 10px 0 54px 0;
  }
  .comm-clouds {
    top: -70px;
  }
  .proj-text-1 {
    font-size: 16px;
  }
  .proj-box {
    padding: 50px 28px 284px 28px;
    margin-bottom: 82px;
  }
  .proj-dashed {
    padding: 6px 28px;
  }
  .proj-extra {
    font-size: 12px;
  }
  .proj-img {
    right: -260px;
    max-width: 700px;
    bottom: -226px;
    -webkit-transform: rotate(19deg);
        -ms-transform: rotate(19deg);
            transform: rotate(19deg);
  }
  .beefup__head {
    padding: 26px 100px 26px 40px;
  }
  .beefup__head::before {
    width: 38px;
    height: 38px;
    background: rgb(254, 219, 85) url(../img/beefup-arrow.svg) no-repeat center top 15px;
    background-size: 14px;
  }
  .que .que-box {
    margin: 31px 0 39px;
  }
  .brig {
    padding: 88px 0 65px 0;
  }
  .brig-col-img {
    max-width: 300px;
    margin: auto;
  }
  .brig-woman {
    left: -22%;
  }
  .brig-man {
    right: -15%;
  }
  .port-nav-btn, .tab-nav-btn {
    padding: 14px 26px;
  }
  .cat-cards-holder {
    max-width: 270px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
  }
  .catalog .tab-nav {
    margin: 40px 0;
  }
  .breadcumbs {
    padding: 95px 0 31px;
  }
  .single-slider .swiper-slide {
    width: 100%;
  }
  .goldnum40 {
    font-size: 32px;
  }
  .single-content-buy-inner {
    padding: 30px;
  }
  .single-content-buy-inner button {
    margin-top: 20px;
  }
  .child-slider {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .port-title {
    font-size: 18px;
    line-height: 24px;
  }
  .port .goldnum {
    font-size: 30px;
  }
  .parent-navi .parent-next {
    background-position: left 12px center;
  }
  .parent-navi .parent-prev {
    background-position: right 12px center;
  }
  .parent-next {
    right: -26px;
  }
  .parent-prev {
    left: -26px;
  }
  .port-container-inner {
    padding: 410px 22px 34px 22px;
  }
  .rev {
    padding: 48px 0 100px 0;
  }
  .rev-slider .swiper-slide {
    width: 100%;
  }
  .rev-slide-inner {
    background-size: 60px;
    padding: 90px 26px 16px 26px;
  }
  .rev-next, .rev-prev {
    width: 38px;
    height: 38px;
  }
  .rev-next {
    background-size: 12px;
    background-position: left 13px center;
    right: -17px;
  }
  .rev-prev {
    background-size: 12px;
    background-position: right 13px center;
    left: -17px;
  }
  .rev {
    background-size: auto 100%;
  }
  .ask {
    padding: 160px 0 0 0;
    margin-top: -15px;
  }
  .ask-clouds-top {
    top: -219px;
    width: 1200px;
  }
  .form-sub {
    font-size: 14px;
    line-height: 20px;
  }
  .custom-input {
    height: 52px;
    line-height: 52px;
    font-size: 14px;
  }
  .ask-form input::-webkit-input-placeholder, .custom-pop input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 52px;
  }
  .ask-form input::-moz-placeholder, .custom-pop input::-moz-placeholder {
    font-size: 14px;
    line-height: 52px;
  }
  .ask-form input:-ms-input-placeholder, .custom-pop input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 52px;
  }
  .ask-form input:-moz-placeholder, .custom-pop input:-moz-placeholder {
    font-size: 14px;
    line-height: 52px;
  }
  .ask-clouds-bottom {
    bottom: 89px;
    width: 1200px;
  }
  .ask-form {
    max-width: 260px;
  }
  .single-slider .single-next, .single-slider .single-prev {
    bottom: 20px;
    height: 40px;
    width: 40px;
  }
  .single-slider .single-next {
    margin-right: -46px;
    background-position: left 16px center;
  }
  .single-slider .single-prev {
    background-position: left 16px center;
    margin-left: -46px;
  }
  .single-slide-inner {
    border-radius: 60px;
    border-width: 5px;
  }
  .single-content h1, .single-content h2, .single-content h3, .single-content h4, .single-content h5, .single-content h6 {
    font-size: 24px;
    line-height: 38px;
  }
  .beefup__body {
    padding: 6px 30px 20px 40px;
  }
}